body {
    background-color: brown !important;
}

.question, .answer1, .answer2, .answer3, .answer4 {
    position: fixed;
    font-size: -webkit-xxx-large;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: -webkit-center;
}

.question {
    top: 15vh;
    color: #ffc107;
}

.answer1, .answer2, .answer3, .answer4 {
    font-size: xx-large !important;
    cursor: pointer;
}

.answer1 {
    top: 32vh;
}

.answer2 {
    top: 44vh;
}

.answer3 {
    top: 56vh;
}

.answer4 {
    top: 68vh;
}